/* Simple fade transition
----------------------------------------------------------------------------------------------------------------------*/
.fade-enter-active,
.fade-leave-active
  opacity 1
  transition all .5s cubic-bezier(0, 0.9, 0.3, 1)

.fade-enter,
.fade-leave-to
  opacity 0
